DB_ENV=docker # или local

POSTGRES_USER=business_user
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=business_db

DB_HOST_LOCAL=localhost
DB_HOST_DOCKER=db
DB_PORT=5432

POSTGRES_TEST_DB=myapp_test

SECRET_KEY=super-secret-key
